<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>HomePage</h1>
    <form th:action="@{/greetings}" method="get">
      Nome
      <input type="text" id="name" name="name" required /><br />
      Cognome
      <input type="text" id="lastname" name="lastname" required /><br />
      <button type="submit">Invia</button>
    </form>
  </body>
</html>
